name: branch-synch
on:
  push:
    branches:
      - master

concurrency:
  group: merge

jobs:
  sync-branch:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Merge master -> exercises
        uses: devmasx/merge-branch@1.4.0
        with:
          type: now
          from_branch: master
          target_branch: exercises
          github_token: ${{ secrets.DEPLOYMENT_TOKEN }}
